/* =============
    Footer
============= */

footer{

    .content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "logo copyright"
        ". joe"
        ;

        @include md{
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas: 
            "logo joe copyright"
            ;
        }

        .logo{
            grid-area:logo;
        }

        .copyright{
            grid-area:copyright;
        }

        .joe{
            grid-area:joe;
        }
    }

}